@font-face {
  font-family: "Dosis-Light";
  src: url("../font/Dosis-Light.woff") format("woff"), url("../font/Dosis-Light.ttf") format("truetype");
  font-style: normal;
  font-stretch: normal;
}

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Dosis-Light", Courier New, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #b7bab3;
  background: #353631;
}

html::-webkit-scrollbar {
  width: 0px;
}

a {
  color: #bfc2bb;
  text-decoration: none;
}

a:hover {
  color: #717171;
}